 /*

  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04519b), color-stop(60%, #033c73), to(#02325f));
  background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: -moz-linear-gradient(top, #04519b, #033c73 60%, #02325f);
  background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
  background-repeat: no-repeat;
  border-bottom: 1px solid #022241;

  */
/* line 14, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-open.pure-menu-primary {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33a6e8), color-stop(60%, #1993d9), color-stop(100%, #1787c7));
  background-image: -webkit-linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
  background-image: -moz-linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
  background-image: -o-linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
  background-image: linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
  color: white;
}

/* line 20, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-open.pure-menu-inverse {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #04519b), color-stop(60%, #033c73), color-stop(100%, #02325f));
  background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: -moz-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: -o-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
  color: white;
}

/* line 25, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-primary a {
  color: white;
}
/* line 28, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-primary a:hover {
  color: white;
  background: #178acc;
}

/* line 34, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-inverse a {
  color: white;
}
/* line 37, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-inverse a:hover {
  color: white;
  background: #022241;
}

/* line 3, ../../sass/partials/_header.scss */
.splash {
  margin-top: 25px;
  background: #e3e3e3;
  color: black;
  padding: 30px;
}

/* line 4, ../../sass/partials/_content.scss */
.content {
  margin: 10px;
  padding: 10px;
}

/* line 10, ../../sass/partials/_buttons.scss */
.pure-button-default,
.pure-button,
.pure-button-info,
.pure-button-success,
.pure-button-danger,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 15, ../../sass/partials/_buttons.scss */
.pure-button-default {
  color: black;
}

/* line 19, ../../sass/partials/_buttons.scss */
.pure-button-info {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #04519b), color-stop(60%, #033c73), color-stop(100%, #02325f));
  background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: -moz-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: -o-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
}

/* line 23, ../../sass/partials/_buttons.scss */
.pure-button-success {
  background: #1cb841;
  /* this is a green */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #88c149), color-stop(60%, #73a839), color-stop(100%, #699934));
  background-image: -webkit-linear-gradient(#88c149, #73a839 60%, #699934);
  background-image: -moz-linear-gradient(#88c149, #73a839 60%, #699934);
  background-image: -o-linear-gradient(#88c149, #73a839 60%, #699934);
  background-image: linear-gradient(#88c149, #73a839 60%, #699934);
}

/* line 29, ../../sass/partials/_buttons.scss */
.pure-button-danger {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e12b31), color-stop(60%, #c71c22), color-stop(100%, #b5191f));
  background-image: -webkit-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
  background-image: -moz-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
  background-image: -o-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
  background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f);
}

/* line 34, ../../sass/partials/_buttons.scss */
.pure-button-warning {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff6707), color-stop(60%, #dd5600), color-stop(100%, #c94e00));
  background-image: -webkit-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
  background-image: -moz-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
  background-image: -o-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
  background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
}

/* line 39, ../../sass/partials/_buttons.scss */
.pure-button-secondary {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #65c5e3), color-stop(60%, #42b8dd), color-stop(100%, #31b2da));
  background-image: -webkit-linear-gradient(#65c5e3, #42b8dd 60%, #31b2da);
  background-image: -moz-linear-gradient(#65c5e3, #42b8dd 60%, #31b2da);
  background-image: -o-linear-gradient(#65c5e3, #42b8dd 60%, #31b2da);
  background-image: linear-gradient(#65c5e3, #42b8dd 60%, #31b2da);
}

/* line 1, ../../sass/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #317EAC;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 7, ../../sass/cerulean.scss */
body {
  color: #777;
}
