body {
  background: white;
  color: #555555;
  font-size: 14px; }

.pure-menu.pure-menu-open.pure-menu-primary {
  color: white;
  background-image: -webkit-linear-gradient( #33a8e8, #1993d9 60%, #1789c7);
  background-image: linear-gradient( #33a8e8, #1993d9 60%, #1789c7); }
  .pure-menu.pure-menu-open.pure-menu-primary:active {
    background-image: -webkit-linear-gradient( #1789c7, #1993d9 60%, #33a8e8);
    background-image: linear-gradient( #1789c7, #1993d9 60%, #33a8e8); }
  .pure-menu.pure-menu-open.pure-menu-primary li.pure-menu-active {
    background: #178acc; }

.pure-menu.pure-menu-open.pure-menu-inverse {
  background-image: -webkit-linear-gradient( #04529b, #033c73 60%, #02325f);
  background-image: linear-gradient( #04529b, #033c73 60%, #02325f);
  color: white; }

.pure-menu.pure-menu-primary a {
  color: white; }
.pure-menu.pure-menu-primary a:hover {
  color: white;
  background: #178acc; }

.pure-menu.pure-menu-inverse a {
  color: white; }
.pure-menu.pure-menu-inverse a:hover {
  color: white;
  background: #022241; }
.pure-menu.pure-menu-inverse li.pure-menu-active {
  background: #022241; }

.splash {
  margin-top: 25px;
  background: #e3e3e3;
  color: black;
  padding: 30px; }

header {
  margin: 0;
  padding: 0;
  background-image: -webkit-linear-gradient( #33a8e8, #1993d9 60%, #1789c7);
  background-image: linear-gradient( #33a8e8, #1993d9 60%, #1789c7); }
  header h1, header h2, header h3, header h4, header h5, header h6 {
    font-weight: lighter;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
    .mobile header h1, .mobile header h2, .mobile header h3, .mobile header h4, .mobile header h5, .mobile header h6 {
      margin: 8px; }
  .mobile header {
    position: fixed;
    top: 0;
    width: 100%; }

.content {
  margin: 10px;
  padding: 10px; }

.pure-button-default, .pure-button, .pure-button-info, .pure-button-success, .pure-button-danger, .pure-button-warning, .pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.pure-button-default {
  color: black;
  background-image: -webkit-linear-gradient( #fafafa, #e6e6e6 60%, #dcdcdc);
  background-image: linear-gradient( #fafafa, #e6e6e6 60%, #dcdcdc); }
  .pure-button-default:active {
    background-image: -webkit-linear-gradient( #dcdcdc, #e6e6e6 60%, #fafafa);
    background-image: linear-gradient( #dcdcdc, #e6e6e6 60%, #fafafa); }

.pure-button-primary {
  background-image: -webkit-linear-gradient( #33a8e8, #1993d9 60%, #1789c7);
  background-image: linear-gradient( #33a8e8, #1993d9 60%, #1789c7); }
  .pure-button-primary:active {
    background-image: -webkit-linear-gradient( #1789c7, #1993d9 60%, #33a8e8);
    background-image: linear-gradient( #1789c7, #1993d9 60%, #33a8e8); }

.pure-button-info {
  background-image: -webkit-linear-gradient( #04529b, #033c73 60%, #02325f);
  background-image: linear-gradient( #04529b, #033c73 60%, #02325f); }
  .pure-button-info:active {
    background-image: -webkit-linear-gradient( #02325f, #033c73 60%, #04529b);
    background-image: linear-gradient( #02325f, #033c73 60%, #04529b); }

.pure-button-success {
  background-image: -webkit-linear-gradient( #89c149, #73a839 60%, #6a9934);
  background-image: linear-gradient( #89c149, #73a839 60%, #6a9934); }
  .pure-button-success:active {
    background-image: -webkit-linear-gradient( #6a9934, #73a839 60%, #89c149);
    background-image: linear-gradient( #6a9934, #73a839 60%, #89c149); }

.pure-button-danger {
  background-image: -webkit-linear-gradient( #e12b34, #c71c22 60%, #b51921);
  background-image: linear-gradient( #e12b34, #c71c22 60%, #b51921); }
  .pure-button-danger:active {
    background-image: -webkit-linear-gradient( #b51921, #c71c22 60%, #e12b34);
    background-image: linear-gradient( #b51921, #c71c22 60%, #e12b34); }

.pure-button-warning {
  background-image: -webkit-linear-gradient( #ff6607, #dd5600 60%, #c94d00);
  background-image: linear-gradient( #ff6607, #dd5600 60%, #c94d00); }
  .pure-button-warning:active {
    background-image: -webkit-linear-gradient( #c94d00, #dd5600 60%, #ff6607);
    background-image: linear-gradient( #c94d00, #dd5600 60%, #ff6607); }

.pure-button-secondary {
  background-image: -webkit-linear-gradient( #65c6e3, #42b8dd 60%, #31b2da);
  background-image: linear-gradient( #65c6e3, #42b8dd 60%, #31b2da); }
  .pure-button-secondary:active {
    background-image: -webkit-linear-gradient( #31b2da, #42b8dd 60%, #65c6e3);
    background-image: linear-gradient( #31b2da, #42b8dd 60%, #65c6e3); }

h1, h2, h3, h4, h5, h6 {
  color: #1993d9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
