body {
  background: white;
  color: #2c3e50;
  font-size: 15px; }

.pure-menu.pure-menu-open.pure-menu-primary {
  color: white;
  background: #2c3e50; }
  .pure-menu.pure-menu-open.pure-menu-primary:active {
    background: #253443; }
  .pure-menu.pure-menu-open.pure-menu-primary li.pure-menu-active {
    background: #1a242f; }

.pure-menu.pure-menu-open.pure-menu-inverse {
  background: #18bc9c;
  color: white; }

.pure-menu.pure-menu-primary a {
  color: white; }
.pure-menu.pure-menu-primary a:hover {
  color: white;
  background: #1a242f; }

.pure-menu.pure-menu-inverse a {
  color: white; }
.pure-menu.pure-menu-inverse a:hover {
  color: white;
  background: #15a589; }
.pure-menu.pure-menu-inverse li.pure-menu-active {
  background: #15a589; }

.splash {
  margin-top: 25px;
  background: #e3e3e3;
  color: black;
  padding: 30px; }

header {
  margin: 0;
  padding: 0;
  background-image: -webkit-linear-gradient( #3a526a, #2c3e50 60%, #253443);
  background-image: linear-gradient( #3a526a, #2c3e50 60%, #253443); }
  header h1, header h2, header h3, header h4, header h5, header h6 {
    font-weight: lighter;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
    .mobile header h1, .mobile header h2, .mobile header h3, .mobile header h4, .mobile header h5, .mobile header h6 {
      margin: 8px; }
  .mobile header {
    position: fixed;
    top: 0;
    width: 100%; }

.content {
  margin: 10px;
  padding: 10px; }

.pure-button-default, .pure-button, .pure-button-info, .pure-button-success, .pure-button-danger, .pure-button-warning, .pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.pure-button-default {
  color: black;
  background: #95a5a6; }
  .pure-button-default:active {
    background: #8a9c9d; }

.pure-button-primary {
  background: #2c3e50; }
  .pure-button-primary:active {
    background: #253443; }

.pure-button-info {
  background: #18bc9c; }
  .pure-button-info:active {
    background: #16aa8c; }

.pure-button-success {
  background: #18bc9c; }
  .pure-button-success:active {
    background: #16aa8c; }

.pure-button-danger {
  background: #e74c3c; }
  .pure-button-danger:active {
    background: #e5392a; }

.pure-button-warning {
  background: #f39c12; }
  .pure-button-warning:active {
    background: #e58e0c; }

.pure-button-secondary {
  background: #3498db; }
  .pure-button-secondary:active {
    background: #268fd5; }

h1, h2, h3, h4, h5, h6 {
  color: #2c3e50;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

@import url("//fonts.googleapis.com/css?family=Lato:400,700,900,400italic");