body {
  background: #272b30;
  color: #c8c8c8;
  font-size: 14px; }

/*

  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04519b), color-stop(60%, #033c73), to(#02325f));
  background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: -moz-linear-gradient(top, #04519b, #033c73 60%, #02325f);
  background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
  background-repeat: no-repeat;
  border-bottom: 1px solid #022241;

  */
.pure-menu.pure-menu-open.pure-menu-primary {
  color: white;
  background-image: -webkit-linear-gradient( #4d545a, #3a3f44 60%, #313539);
  background-image: linear-gradient( #4d545a, #3a3f44 60%, #313539); }
  .pure-menu.pure-menu-open.pure-menu-primary:active {
    background-image: -webkit-linear-gradient( #313539, #3a3f44 60%, #4d545a);
    background-image: linear-gradient( #313539, #3a3f44 60%, #4d545a); }
  .pure-menu.pure-menu-open.pure-menu-primary li.pure-menu-active {
    background: #272b30; }

.pure-menu.pure-menu-open.pure-menu-inverse {
  background-image: -webkit-linear-gradient( #90969b, #7a8288 60%, #70787d);
  background-image: linear-gradient( #90969b, #7a8288 60%, #70787d);
  color: white; }

.pure-menu.pure-menu-primary a {
  color: white; }
.pure-menu.pure-menu-primary a:hover {
  color: white;
  background: #272b30; }

.pure-menu.pure-menu-inverse a {
  color: white; }
.pure-menu.pure-menu-inverse a:hover {
  color: white;
  background: #022241; }
.pure-menu.pure-menu-inverse li.pure-menu-active {
  background: #022241; }

.splash {
  margin-top: 25px;
  background: #e3e3e3;
  color: black;
  padding: 30px; }

header {
  margin: 0;
  padding: 0;
  background-image: -webkit-linear-gradient( #4d545a, #3a3f44 60%, #313539);
  background-image: linear-gradient( #4d545a, #3a3f44 60%, #313539); }
  header h1, header h2, header h3, header h4, header h5, header h6 {
    font-weight: lighter;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
    .mobile header h1, .mobile header h2, .mobile header h3, .mobile header h4, .mobile header h5, .mobile header h6 {
      margin: 8px; }
  .mobile header {
    position: fixed;
    top: 0;
    width: 100%; }

.content {
  margin: 10px;
  padding: 10px; }

.pure-button-default, .pure-button, .pure-button-info, .pure-button-success, .pure-button-danger, .pure-button-warning, .pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.pure-button-default {
  color: black;
  background-image: -webkit-linear-gradient( #4d545a, #3a3f44 60%, #313539);
  background-image: linear-gradient( #4d545a, #3a3f44 60%, #313539); }
  .pure-button-default:active {
    background-image: -webkit-linear-gradient( #313539, #3a3f44 60%, #4d545a);
    background-image: linear-gradient( #313539, #3a3f44 60%, #4d545a); }

.pure-button-primary {
  background-image: -webkit-linear-gradient( #393f47, #272b30 60%, #1e2125);
  background-image: linear-gradient( #393f47, #272b30 60%, #1e2125); }
  .pure-button-primary:active {
    background-image: -webkit-linear-gradient( #1e2125, #272b30 60%, #393f47);
    background-image: linear-gradient( #1e2125, #272b30 60%, #393f47); }

.pure-button-info {
  background-image: -webkit-linear-gradient( #90969b, #7a8288 60%, #70787d);
  background-image: linear-gradient( #90969b, #7a8288 60%, #70787d); }
  .pure-button-info:active {
    background-image: -webkit-linear-gradient( #70787d, #7a8288 60%, #90969b);
    background-image: linear-gradient( #70787d, #7a8288 60%, #90969b); }

.pure-button-success {
  background-image: -webkit-linear-gradient( #81cf80, #62c462 60%, #55be53);
  background-image: linear-gradient( #81cf80, #62c462 60%, #55be53); }
  .pure-button-success:active {
    background-image: -webkit-linear-gradient( #55be53, #62c462 60%, #81cf80);
    background-image: linear-gradient( #55be53, #62c462 60%, #81cf80); }

.pure-button-danger {
  background-image: -webkit-linear-gradient( #f28280, #ee5f5b 60%, #ec4b49);
  background-image: linear-gradient( #f28280, #ee5f5b 60%, #ec4b49); }
  .pure-button-danger:active {
    background-image: -webkit-linear-gradient( #ec4b49, #ee5f5b 60%, #f28280);
    background-image: linear-gradient( #ec4b49, #ee5f5b 60%, #f28280); }

.pure-button-warning {
  background-image: -webkit-linear-gradient( #faa42d, #f89406 60%, #e48706);
  background-image: linear-gradient( #faa42d, #f89406 60%, #e48706); }
  .pure-button-warning:active {
    background-image: -webkit-linear-gradient( #e48706, #f89406 60%, #faa42d);
    background-image: linear-gradient( #e48706, #f89406 60%, #faa42d); }

.pure-button-secondary {
  background-image: -webkit-linear-gradient( #65c6e3, #42b8dd 60%, #31b2da);
  background-image: linear-gradient( #65c6e3, #42b8dd 60%, #31b2da); }
  .pure-button-secondary:active {
    background-image: -webkit-linear-gradient( #31b2da, #42b8dd 60%, #65c6e3);
    background-image: linear-gradient( #31b2da, #42b8dd 60%, #65c6e3); }

h1, h2, h3, h4, h5, h6 {
  color: #3a3f44;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

@import url("//fonts.googleapis.com/css?family=Lato:400,700,900,400italic");