@import url("//fonts.googleapis.com/css?family=Lato:400,700,900,400italic");
/* line 1, ../../sass/partials/_body.scss */
body {
  background: #272b30;
  color: #c8c8c8;
  font-size: 14px;
}

 /*

  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04519b), color-stop(60%, #033c73), to(#02325f));
  background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: -moz-linear-gradient(top, #04519b, #033c73 60%, #02325f);
  background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
  background-repeat: no-repeat;
  border-bottom: 1px solid #022241;

  */
/* line 14, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-open.pure-menu-primary {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d535a), color-stop(60%, #3a3f44), color-stop(100%, #313539));
  background-image: -webkit-linear-gradient(#4d535a, #3a3f44 60%, #313539);
  background-image: -moz-linear-gradient(#4d535a, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#4d535a, #3a3f44 60%, #313539);
  background-image: linear-gradient(#4d535a, #3a3f44 60%, #313539);
}
/* line 18, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-open.pure-menu-primary:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #313539), color-stop(60%, #3a3f44), color-stop(100%, #4d535a));
  background-image: -webkit-linear-gradient(#313539, #3a3f44 60%, #4d535a);
  background-image: -moz-linear-gradient(#313539, #3a3f44 60%, #4d535a);
  background-image: -o-linear-gradient(#313539, #3a3f44 60%, #4d535a);
  background-image: linear-gradient(#313539, #3a3f44 60%, #4d535a);
}
/* line 21, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-open.pure-menu-primary li.pure-menu-active {
  background: #272b30;
}

/* line 25, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-open.pure-menu-inverse {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #90969b), color-stop(60%, #7a8288), color-stop(100%, #70787d));
  background-image: -webkit-linear-gradient(#90969b, #7a8288 60%, #70787d);
  background-image: -moz-linear-gradient(#90969b, #7a8288 60%, #70787d);
  background-image: -o-linear-gradient(#90969b, #7a8288 60%, #70787d);
  background-image: linear-gradient(#90969b, #7a8288 60%, #70787d);
  color: white;
}

/* line 30, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-primary a {
  color: white;
}
/* line 33, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-primary a:hover {
  color: white;
  background: #272b30;
}

/* line 39, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-inverse a {
  color: white;
}
/* line 42, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-inverse a:hover {
  color: white;
  background: #022241;
}
/* line 46, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-inverse li.pure-menu-active {
  background: #022241;
}

/* line 2, ../../sass/partials/_header.scss */
.splash {
  margin-top: 25px;
  background: #e3e3e3;
  color: black;
  padding: 30px;
}

/* line 9, ../../sass/partials/_header.scss */
header {
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d535a), color-stop(60%, #3a3f44), color-stop(100%, #313539));
  background-image: -webkit-linear-gradient(#4d535a, #3a3f44 60%, #313539);
  background-image: -moz-linear-gradient(#4d535a, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#4d535a, #3a3f44 60%, #313539);
  background-image: linear-gradient(#4d535a, #3a3f44 60%, #313539);
}
/* line 13, ../../sass/partials/_header.scss */
header h1, header h2, header h3, header h4, header h5, header h6 {
  font-weight: lighter;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 17, ../../sass/partials/_header.scss */
.mobile header h1, .mobile header h2, .mobile header h3, .mobile header h4, .mobile header h5, .mobile header h6 {
  margin: 8px;
}
/* line 21, ../../sass/partials/_header.scss */
.mobile header {
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 3, ../../sass/partials/_content.scss */
.content {
  margin: 10px;
  padding: 10px;
}

/* line 10, ../../sass/partials/_buttons.scss */
.pure-button-default,
.pure-button,
.pure-button-info,
.pure-button-success,
.pure-button-danger,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 15, ../../sass/partials/_buttons.scss */
.pure-button-default {
  color: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d535a), color-stop(60%, #3a3f44), color-stop(100%, #313539));
  background-image: -webkit-linear-gradient(#4d535a, #3a3f44 60%, #313539);
  background-image: -moz-linear-gradient(#4d535a, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#4d535a, #3a3f44 60%, #313539);
  background-image: linear-gradient(#4d535a, #3a3f44 60%, #313539);
}
/* line 18, ../../sass/partials/_buttons.scss */
.pure-button-default:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #313539), color-stop(60%, #3a3f44), color-stop(100%, #4d535a));
  background-image: -webkit-linear-gradient(#313539, #3a3f44 60%, #4d535a);
  background-image: -moz-linear-gradient(#313539, #3a3f44 60%, #4d535a);
  background-image: -o-linear-gradient(#313539, #3a3f44 60%, #4d535a);
  background-image: linear-gradient(#313539, #3a3f44 60%, #4d535a);
}

/* line 22, ../../sass/partials/_buttons.scss */
.pure-button-primary {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #393f47), color-stop(60%, #272b30), color-stop(100%, #1e2125));
  background-image: -webkit-linear-gradient(#393f47, #272b30 60%, #1e2125);
  background-image: -moz-linear-gradient(#393f47, #272b30 60%, #1e2125);
  background-image: -o-linear-gradient(#393f47, #272b30 60%, #1e2125);
  background-image: linear-gradient(#393f47, #272b30 60%, #1e2125);
}
/* line 24, ../../sass/partials/_buttons.scss */
.pure-button-primary:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1e2125), color-stop(60%, #272b30), color-stop(100%, #393f47));
  background-image: -webkit-linear-gradient(#1e2125, #272b30 60%, #393f47);
  background-image: -moz-linear-gradient(#1e2125, #272b30 60%, #393f47);
  background-image: -o-linear-gradient(#1e2125, #272b30 60%, #393f47);
  background-image: linear-gradient(#1e2125, #272b30 60%, #393f47);
}

/* line 28, ../../sass/partials/_buttons.scss */
.pure-button-info {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #90969b), color-stop(60%, #7a8288), color-stop(100%, #70787d));
  background-image: -webkit-linear-gradient(#90969b, #7a8288 60%, #70787d);
  background-image: -moz-linear-gradient(#90969b, #7a8288 60%, #70787d);
  background-image: -o-linear-gradient(#90969b, #7a8288 60%, #70787d);
  background-image: linear-gradient(#90969b, #7a8288 60%, #70787d);
}
/* line 30, ../../sass/partials/_buttons.scss */
.pure-button-info:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #70787d), color-stop(60%, #7a8288), color-stop(100%, #90969b));
  background-image: -webkit-linear-gradient(#70787d, #7a8288 60%, #90969b);
  background-image: -moz-linear-gradient(#70787d, #7a8288 60%, #90969b);
  background-image: -o-linear-gradient(#70787d, #7a8288 60%, #90969b);
  background-image: linear-gradient(#70787d, #7a8288 60%, #90969b);
}

/* line 34, ../../sass/partials/_buttons.scss */
.pure-button-success {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #80cf80), color-stop(60%, #62c462), color-stop(100%, #53be53));
  background-image: -webkit-linear-gradient(#80cf80, #62c462 60%, #53be53);
  background-image: -moz-linear-gradient(#80cf80, #62c462 60%, #53be53);
  background-image: -o-linear-gradient(#80cf80, #62c462 60%, #53be53);
  background-image: linear-gradient(#80cf80, #62c462 60%, #53be53);
}
/* line 36, ../../sass/partials/_buttons.scss */
.pure-button-success:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53be53), color-stop(60%, #62c462), color-stop(100%, #80cf80));
  background-image: -webkit-linear-gradient(#53be53, #62c462 60%, #80cf80);
  background-image: -moz-linear-gradient(#53be53, #62c462 60%, #80cf80);
  background-image: -o-linear-gradient(#53be53, #62c462 60%, #80cf80);
  background-image: linear-gradient(#53be53, #62c462 60%, #80cf80);
}

/* line 41, ../../sass/partials/_buttons.scss */
.pure-button-danger {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f28380), color-stop(60%, #ee5f5b), color-stop(100%, #ec4d49));
  background-image: -webkit-linear-gradient(#f28380, #ee5f5b 60%, #ec4d49);
  background-image: -moz-linear-gradient(#f28380, #ee5f5b 60%, #ec4d49);
  background-image: -o-linear-gradient(#f28380, #ee5f5b 60%, #ec4d49);
  background-image: linear-gradient(#f28380, #ee5f5b 60%, #ec4d49);
}
/* line 43, ../../sass/partials/_buttons.scss */
.pure-button-danger:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ec4d49), color-stop(60%, #ee5f5b), color-stop(100%, #f28380));
  background-image: -webkit-linear-gradient(#ec4d49, #ee5f5b 60%, #f28380);
  background-image: -moz-linear-gradient(#ec4d49, #ee5f5b 60%, #f28380);
  background-image: -o-linear-gradient(#ec4d49, #ee5f5b 60%, #f28380);
  background-image: linear-gradient(#ec4d49, #ee5f5b 60%, #f28380);
}

/* line 48, ../../sass/partials/_buttons.scss */
.pure-button-warning {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #faa52d), color-stop(60%, #f89406), color-stop(100%, #e48806));
  background-image: -webkit-linear-gradient(#faa52d, #f89406 60%, #e48806);
  background-image: -moz-linear-gradient(#faa52d, #f89406 60%, #e48806);
  background-image: -o-linear-gradient(#faa52d, #f89406 60%, #e48806);
  background-image: linear-gradient(#faa52d, #f89406 60%, #e48806);
}
/* line 50, ../../sass/partials/_buttons.scss */
.pure-button-warning:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e48806), color-stop(60%, #f89406), color-stop(100%, #faa52d));
  background-image: -webkit-linear-gradient(#e48806, #f89406 60%, #faa52d);
  background-image: -moz-linear-gradient(#e48806, #f89406 60%, #faa52d);
  background-image: -o-linear-gradient(#e48806, #f89406 60%, #faa52d);
  background-image: linear-gradient(#e48806, #f89406 60%, #faa52d);
}

/* line 55, ../../sass/partials/_buttons.scss */
.pure-button-secondary {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #65c5e3), color-stop(60%, #42b8dd), color-stop(100%, #31b2da));
  background-image: -webkit-linear-gradient(#65c5e3, #42b8dd 60%, #31b2da);
  background-image: -moz-linear-gradient(#65c5e3, #42b8dd 60%, #31b2da);
  background-image: -o-linear-gradient(#65c5e3, #42b8dd 60%, #31b2da);
  background-image: linear-gradient(#65c5e3, #42b8dd 60%, #31b2da);
}
/* line 57, ../../sass/partials/_buttons.scss */
.pure-button-secondary:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #31b2da), color-stop(60%, #42b8dd), color-stop(100%, #65c5e3));
  background-image: -webkit-linear-gradient(#31b2da, #42b8dd 60%, #65c5e3);
  background-image: -moz-linear-gradient(#31b2da, #42b8dd 60%, #65c5e3);
  background-image: -o-linear-gradient(#31b2da, #42b8dd 60%, #65c5e3);
  background-image: linear-gradient(#31b2da, #42b8dd 60%, #65c5e3);
}

/* line 1, ../../sass/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #3a3f44;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
